:root {
  --primary-text: #fff;
  --heading: #b35900;
  --light-background: #E8E8E8;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  text-align: center;
  background: var(--heading);
  color: var(--primary-text);
  height: 4rem;
  padding-top: 0.5rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

h5 {
  color: var(--primary-text);
}

th {
  font-size: 2rem;
  text-align: center;
}

td {
  text-align: center;
}

input {
  margin-bottom: 1rem;
}

.error-message {
  color: red;
}

/* Deities */
.deities-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.deities-details .card {
  text-align: center;
}

/* Donate */
.paypal {
  margin: auto;
  text-align: center;
  padding-top: 2rem;
}

/* navbar */

.navbar {
  background: var(--heading);
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-brand {
  font-size: 2rem;
}

nav a.nav-link {
  letter-spacing: 0.6px;
  cursor: pointer;
  font-size: 1.1rem;
}

nav .navbar-nav > li > a {
  margin-right: 0.75rem;
  color: #fff !important;
}

nav .navbar-nav > li > a.active,
nav .navbar-nav > li > a:focus {
  border-bottom: 0.1875rem solid #fff;
}

.social {
  font-size: 1.5rem;
}

/* Home */

.hero {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 1fr;
}

.vision {
  margin: auto;
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.temple-image {
  position: relative;
  background: url("./images/temple_3.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.card:hover {
  opacity: 0.7;
}

#deities {
  background:var(--light-background);
}


#priests {
  text-align: center;
}

#appointment {
  text-align: center;
}

#footer {
  background: #333;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 500px) {
  .hero {
    margin-top: 7rem;
    display: grid;
    grid-template-columns: 1fr;
  }

  .temple-image {
    height: 50vh;
    width: 100%;
  }

  .deities-details {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}
